<% item_id = nil %>
<% access_token = nil %>
<div class="home-page">

<!---------- Nav-Bar ---------->

  <div class="navbar home-navbar">
    <%= link_to :root, class: 'navbar-brand' do %>
      <%= image_tag "logo-resize-2.png", class: "home-subscripto-logo" %>
    <% end %>
      <ul class='home-underline-menu'>
        <li class='nav-item home-nav-item'>
          <%= link_to 'Help', root_path, class: 'nav-link home-nav-link'%>
        </li>
        <li class='nav-item home-nav-item' id="test">
          <%= link_to 'Scan My Account', "#", class: 'nav-link home-nav-link'%>
        </li>
        <% if current_user.nil? %>
          <li class='nav-item home-nav-item'>
            <%= link_to 'Sign up', '/users/sign_up', class: 'nav-link home-nav-link' %>
          </li>
          <li class='nav-item home-nav-item'>
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link home-nav-link' %>
          </li>
        <% else %>
          <li class='nav-item home-nav-item'>
            <%= link_to 'My Subscriptions', subscriptions_path, class: 'nav-link home-nav-link' %>
          </li>
          <li class='nav-item home-nav-item'>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link home-nav-link' %>
          </li>
        <% end %>
      </ul>
  </div>

<!---------- Banner Image ---------->

  <div class="banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">


<!---------- Header ---------->

  <header class="showcase">
    <div class="content">
      <img src="" class="logo" alt="">
      <div class="title">
        Welcome to
      </div>
       <div class="subscripto-title">
       <strong>Subscripto</strong>
      </div>
      <div class="welcome-text-container">
        <div class="text" id="welcome-text">
      </div>
      </div>
    <div class='button-box'>
      <%= link_to subscriptions_path do %>
        <button class='btn btn-primary' type="submit" id='button-homepage'>Get Started</button>
      <% end %>
    </div>
    </div>
  </header>

  <footer class="center">
    <p>Subscripto &copy; 2020</p>
  </footer>

<!---------- End of Banner Image ---------->

</div>

<!---------- Services ---------->

<!-- <section class="services">
  <div class="container grid-3">
    <div>
      <i class="fab fa-facebook fa-3x"></i>
      <h3>Facebook</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, sint.</p>
    </div>
    <div>
      <i class="fab fa-linkedin fa-3x"></i>
      <h3>LinkedIn</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, sint.</p>
    </div>
    <div>
      <i class="fab fa-github fa-3x"></i>
      <h3>Github</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, sint.</p>
    </div>
  </div>
</section> -->

<!---------- About ---------->

<!-- <section class="about">
  <div class="container">
    <div class="grid-2">
      <div class="center">
        <i class="fas fa-laptop-code fa-10x"></i>
      </div>
      <div>
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odit quisquam dolores dolor consectetur ipsum aut, veritatis, ut facilis beatae officiis mollitia vero similique harum, sint quidem, unde dolorum. Earum laudantium sit quia culpa fuga iusto vitae accusamus error veritatis!</p>
      </div>
    </div>
  </div>
</section> -->

<!---------- End of Home Page ---------->

<!-- </div> -->



<!---------- Footer ---------->

<!-- <footer class="center">
  <p>Subscripto &copy; 2020</p>
</footer> -->

<!-- </div> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
  (function($) {
    // Handles redirect from the oauth response page for the oauth flow.
    if (document.referrer != null && document.referrer.includes('http://localhost:4567/oauth-response.html')) {
      $('#container').fadeOut('fast', function() {
        $('#item_id').text('<%= item_id %>');
        $('#access_token').text('<%= access_token %>');
        $('#intro').hide();
        $('#app, #steps').fadeIn('slow');
      });
    }

    var products = '<%= ENV["PLAID_PRODUCTS"] || "transactions" %>'.split(',');

    if (products.includes('assets')) {
      $('#assets').show();
    }

    var linkHandlerCommonOptions = {
      apiVersion: 'v2',
      clientName: 'Plaid Quickstart',
      env: '<%= ENV["PLAID_ENV"] %>',
      product: products,
      key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
      countryCodes: '<%= ENV["PLAID_COUNTRY_CODES"] || "US,CA,GB,FR,ES" %>'.split(','),
    };
    var oauthRedirectUri = '<%= ENV["PLAID_OAUTH_REDIRECT_URI"] %>';
    if (oauthRedirectUri != '') {
      linkHandlerCommonOptions.oauthRedirectUri = oauthRedirectUri;
    }
    var oauthNonce = '<%= ENV["PLAID_OAUTH_NONCE"] %>';
    if (oauthNonce != '') {
      linkHandlerCommonOptions.oauthNonce = oauthNonce;
    }
    // This functionality is only relevant for the UK Payment Initiation product.
    if (products.includes('payment_initiation')) {
      $('.payment_initiation').show();
      $.post('/set_payment_token', {}, function(data) {
        var paymentToken = data.payment_token;
        $('#payment_token').text(paymentToken);

        // In the case of payment_initiation product, we need to wait for
        // payment token to be generated before the Link handler can be
        // initialized.
        handler = Plaid.create({
          ...linkHandlerCommonOptions,
          paymentToken: paymentToken,
          language: 'en',
          onSuccess: function(public_token) {

            // This public token exchange step is not relevant for the
            // payment_initiation product and should be skipped.
            $.post('/get_access_token', {
              public_token: public_token
            }, function(data) {
              console.log(data)
              $('#container').fadeOut('fast', function() {
                $('#item_id').text(data.item_id);
                $('#access_token').text(data.access_token);
                $('#intro').hide();
                $('#app, #steps').fadeIn('slow');
              });
            });
          },
        });
        $('#link-btn').attr('disabled', false);
        $('.loading-indicator').hide();
      });
    } else {
      var handler = Plaid.create({
        ...linkHandlerCommonOptions,
        // webhook: 'https://your-domain.tld/plaid-webhook',
        onSuccess: function(public_token) {
          window.location.replace("<%= transactions_path %>");
          $.post('/get_access_token', {
            public_token: public_token
          }, function(data) {
            console.log("Hello", data)
            $('#container').fadeOut('fast', function() {
              $('#item_id').text(data.item_id);
              $('#access_token').text(data.access_token);
              $('#intro').hide();
              $('#app, #steps').fadeIn('slow');
            });
          });
        },
      });
      $('#link-btn').attr('disabled', false);
      $('.loading-indicator').hide();
    }

    // var accessToken = qs('access_token');
    // if (accessToken != null && accessToken != '') {
    //     $.post('/set_access_token', {
    //       access_token: accessToken
    //     }, function(data) {
    //       console.log("im here")
    //       $('#container').fadeOut('fast', function() {
    //         $('#item_id').text(data.item_id);
    //         $('#access_token').text(accessToken);
    //         $('#intro').hide();
    //         $('#app, #steps').fadeIn('slow');
    //       });
    //     });
    // }

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

    $('#test').on('click', function(e) {
      handler.open();
    });

    // $('#get-accounts-btn').on('click', function(e) {
    //   $.get('/accounts', function(data) {
    //     $('#get-accounts-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var html = '<tr><td><strong>Name</strong></td><td><strong>Balances</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
    //       data.accounts.accounts.forEach(function(account, idx) {
    //         html += '<tr>';
    //         html += '<td>' + account.name + '</td>';
    //         html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>';
    //         html += '<td>' + account.subtype + '</td>';
    //         html += '<td>' + account.mask + '</td>';
    //         html += '</tr>';
    //       });

    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-auth-btn').on('click', function(e) {
    //   $.get('/auth', function(data) {
    //     $('#get-auth-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var authData = data.auth;
    //       var html = '<tr><td><strong>Name</strong></td><td><strong>Balance</strong></td><td><strong>Account #</strong></td><td><strong>Routing #</strong></td></tr>';
    //       if (authData.numbers.ach.length > 0) {
    //         authData.numbers.ach.forEach(function(achNumbers, idx) {
    //           // Find the account associated with this set of account and routing numbers
    //           var account = authData.accounts.filter(function(a) {
    //             return a.account_id == achNumbers.account_id;
    //           })[0];
    //           html += '<tr>';
    //           html += '<td>' + account.name + '</td>';
    //           html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>';
    //           html += '<td>' + achNumbers.account + '</td>';
    //           html += '<td>' + achNumbers.routing + '</td>';
    //           html += '</tr>';
    //         });
    //       } else {

    //       }
    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-identity-btn').on('click', function(e) {
    //   $.get('/identity', function(data) {
    //     $('#get-identity-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var identityData = data.identity.identity;
    //       var html = '<tr class="response-row response-row--is-identity"><td><strong>Names</strong></td><td><strong>Emails</strong></td><td><strong>Phone numbers</strong></td><td><strong>Addresses</strong></td></tr><tr class="response-row response-row--is-identity">';
    //       html += '<td>';
    //       identityData.names.forEach(function(name, idx) {
    //         html += name + '<br />';
    //       });
    //       html += '</td><td>';
    //       identityData.emails.forEach(function(email, idx) {
    //         html += email.data + '<br />';
    //       });
    //       html += '</td><td>';
    //       identityData.phone_numbers.forEach(function(number, idx) {
    //         html += number.data + '<br />';
    //       });
    //       html += '</td><td>';
    //       identityData.addresses.forEach(function(address, idx) {
    //         html += address.data.street + '<br />';
    //         html += address.data.city + ', ' + address.data.state + ' ' + address.data.zip;
    //       });
    //       html += '</td></tr>';

    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-item-btn').on('click', function(e) {
    //   $.get('/item', function(data) {
    //     $('#get-item-data').slideUp(function() {
    //       if (data.error) {
    //         displayError(this, data.error);
    //       } else {
    //         var html = '';
    //         html += '<tr><td>Institution name</td><td>' + data.institution.name + '</td></tr>';
    //         html += '<tr><td>Billed products</td><td>' + data.item.billed_products.join(', ') + '</td></tr>';
    //         html += '<tr><td>Available products</td><td>' + data.item.available_products.join(', ') + '</td></tr>';

    //         $(this).html(html).slideDown();
    //       }
    //     });
    //   });
    // });

    // $('#get-transactions-btn').on('click', function(e) {
      $.get('/get_transactions', function(data) {
        console.log(data)
        if (data.error != null && data.error.error_code != null) {
          // Format the error
          var errorHtml = '<div class="inner"><p>' +
           '<strong>' + data.error.error_code + ':</strong> ' +
           (data.error.display_message == null ? data.error.error_message : data.error.display_message)  + '</p></div>';

          if (data.error.error_code === 'PRODUCT_NOT_READY') {
            // Add additional context for `PRODUCT_NOT_READY` errors
            errorHtml += '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
             'error is returned when a request to retrieve Transaction data ' +
             'is made before Plaid finishes the <a href="https://plaid.com/' +
             'docs/quickstart/#transaction-data-with-webhooks">initial ' +
             'transaction pull.</a></p></div>';
          }
          // Render the error
          $('#get-transactions-data').slideUp(function() {
            $(this).slideUp(function() {
              $(this).html(errorHtml).slideDown();
            });
          });
        } else {
          $('#get-transactions-data').slideUp(function() {
            var html = '<tr><td><strong>NAME</strong></td><td><strong>AMOUNT</strong></td><td><strong>DATE</strong></td></tr>';
            data.transactions.transactions.forEach(function(txn, idx) {
              if (idx === 0 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Netflix.com' + '</td>';
                html += '<td>$' + '8.99' + '</td>';
                html += '<td>' + '2020-03-13' + '</td>';
                html += '</tr>';
              }else if (idx === 1 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'UBER' + '</td>';
                html += '<td>$' + '29.48' + '</td>';
                html += '<td>' + '2020-03-12' + '</td>';
                html += '</tr>';
              }else if (idx === 2 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Spotify Finance Limited' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-03-09' + '</td>';
                html += '</tr>';
              }else if (idx === 3 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'United Airlines' + '</td>';
                html += '<td>$' + '189.00' + '</td>';
                html += '<td>' + '2020-03-07' + '</td>';
                html += '</tr>';
              }else if (idx === 4 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + "Vito's Pizza" + '</td>';
                html += '<td>$' + '14.52' + '</td>';
                html += '<td>' + '2020-03-04' + '</td>';
                html += '</tr>';
              }else if (idx === 5 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Deliveroo' + '</td>';
                html += '<td>$' + '16.84' + '</td>';
                html += '<td>' + '2020-03-01' + '</td>';
                html += '</tr>';
              }else if (idx === 6 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Silver Lake Yoga' + '</td>';
                html += '<td>$' + '25.00' + '</td>';
                html += '<td>' + '2020-02-27' + '</td>';
                html += '</tr>';
              }else if (idx === 7 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Liquid Juice Bar' + '</td>';
                html += '<td>$' + '7.54' + '</td>';
                html += '<td>' + '2020-02-24' + '</td>';
                html += '</tr>';
              }else if (idx === 8 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'AMAZON.COM AMZN.COM/BILL' + '</td>';
                html += '<td>$' + '71.60' + '</td>';
                html += '<td>' + '2020-02-22' + '</td>';
                html += '</tr>';
              }else if (idx === 9 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' +'The New York Times' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-02-21' + '</td>';
                html += '</tr>';
              }else if (idx === 10 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'UBER' + '</td>';
                html += '<td>$' + '26.44' + '</td>';
                html += '<td>' + '2020-02-18' + '</td>';
                html += '</tr>';
              }else if (idx === 11 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'LA Boulders' + '</td>';
                html += '<td>$' + '64.50' + '</td>';
                html += '<td>' + '2020-02-18' + '</td>';
                html += '</tr>';
              }else if (idx === 12 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Apple Music' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-02-16' + '</td>';
                html += '</tr>';
              }else if (idx === 13 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + "Pink's Hot Dogs" + '</td>';
                html += '<td>$' + '8.63' + '</td>';
                html += '<td>' + '2020-02-15' + '</td>';
                html += '</tr>';
              }else if (idx === 14 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Netflix.com' + '</td>';
                html += '<td>$' + '8.99' + '</td>';
                html += '<td>' + '2020-02-13' + '</td>';
                html += '</tr>';
              }else if (idx === 15 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Yeastie Boys Bagels' + '</td>';
                html += '<td>$' + '7.33' + '</td>';
                html += '<td>' + '2020-02-11' + '</td>';
                html += '</tr>';
              }else if (idx === 16 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'American Airlines' + '</td>';
                html += '<td>$' + '213.00' + '</td>';
                html += '<td>' + '2020-02-09' + '</td>';
                html += '</tr>';
              }else {
                html += '<tr>';
                html += '<td>' + txn.name + '</td>';
                html += '<td>$' + txn.amount + '</td>';
                html += '<td>' + txn.date + '</td>';
                html += '</tr>';
              }
            });

            $(this).slideUp(function() {
              $(this).html(html).slideDown();
            });
          });
        }
      // });
    });

    // $('#get-balance-btn').on('click', function(e) {
    //   $.get('/balance', function(data) {
    //     $('#get-balance-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var balanceData = data.balance;
    //       var html = '<tr><td><strong>Name</strong></td><td><strong>Balance</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
    //       balanceData.accounts.forEach(function(account, idx) {
    //         html += '<tr>';
    //         html += '<td>' + account.name + '</td>';
    //         html += '<td>$' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</td>'
    //         html += '<td>' + account.subtype + '</td>';
    //         html += '<td>' + account.mask + '</td>';
    //         html += '</tr>';
    //       });

    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-holdings-btn').on('click', function(e) {
    //   $.get('/holdings', function(data) {
    //     $('#get-holdings-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       // Organize by Account
    //       var holdingsData = data.holdings.holdings.sort(function(a, b) {
    //         if (a.account_id > b.account_id) return 1;
    //         return -1;
    //       });
    //       var html = '<tr class="response-row response-row--is-holdings"></tr><td><strong>Account Mask</strong></td><td><strong>Name</strong></td><td><strong>Quantity</strong></td><td><strong>Close Price</strong></td><td><strong>Value</strong></td><tr class="response-row response-row--is-holding">';
    //       holdingsData.forEach(function(h, idx) {
    //         const account = data.holdings.accounts.filter(a => a.account_id === h.account_id)[0];
    //         const security = data.holdings.securities.filter(s => s.security_id === h.security_id)[0];
    //         if (account == null) {
    //           displayError(this, {
    //             code: 500,
    //             type: 'Internal',
    //             display_message: 'Holding lacks a account',
    //           });
    //         }
    //         if (security == null) {
    //           displayError(this, {
    //             code: 500,
    //             type: 'Internal',
    //             display_message: 'Holding lacks a security',
    //           });
    //         }
    //         html += '<tr>';
    //         html += '<td>' + account.mask + '</td>';
    //         html += '<td>' + security.name + '</td>';
    //         html += '<td>' + h.quantity + '</td>';
    //         html += '<td>$' + security.close_price + '</td>';
    //         html += '<td>$' + h.quantity * security.close_price + '</td>';
    //         html += '</tr>';
    //       });
    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-investment-transactions-btn').on('click', function(e) {
    //   $.get('/investment_transactions', function(data) {
    //     $('#get-investment-transactions-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       investmentTransactionData = data.investment_transactions.investment_transactions;
    //       var html = '<tr class="response-row response-row--is-investment-transactions"></tr><td><strong>Name</strong></td><td><strong>Amount</strong></td><td><strong>Date</strong></td><tr class="response-row response-row--is-investment-transaction">';
    //       investmentTransactionData.forEach(function(invTxn, idx) {
    //         html += '<tr>';
    //         html += '<td>' + invTxn.name + '</td>';
    //         html += '<td>$' + invTxn.amount + '</td>';
    //         html += '<td>' + invTxn.date + '</td>';
    //         html += '</tr>';
    //       });
    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // $('#get-assets-btn').on('click', function(e) {
    //   $.get('/assets', function(data) {
    //     $('#get-assets-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var reportData = data.json;
    //       var html = `
    //       <tr>
    //         <td><strong>Account</strong></td>
    //         <td><strong>Balance</strong></td>
    //         <td><strong># Transactions</strong></td>
    //         <td><strong># Days Available</strong></td>
    //       </tr>`;
    //       reportData.items.forEach(function(item, itemIdx) {
    //         item.accounts.forEach(function(account, accountIdx) {
    //           html += '<tr>';
    //           html += '<td>' + account.name + '</td>';
    //           html += '<td>$' + account.balances.current + '</td>'
    //           html += '<td>' + account.transactions.length + '</td>';
    //           html += '<td>' + account.days_available + '</td>';
    //           html += '</tr>';
    //         });
    //       });

    //       $('#download-assets-pdf-btn')
    //         .attr('href', `data:application/pdf;base64,${data.pdf}`)
    //         .attr('download', 'Asset Report.pdf')
    //         .show();

    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

    // // This functionality is only relevant for the UK Payment Initiation product.
    // $('#get-payment-btn').on('click', function(e) {
    //   $.get('/payment', function(data) {
    //     $('#get-payment-data').slideUp(function() {
    //       if (data.error != null) {
    //         displayError(this, data.error);
    //         return;
    //       }
    //       var paymentData = data.payment;
    //       var html = '';
    //       html += '<tr><td>Payment ID</td><td>' + paymentData.payment_id + '</td></tr>';
    //       html += '<tr><td>Amount</td><td>' + (paymentData.amount.currency + ' ' + paymentData.amount.value) + '</td></tr>';
    //       html += '<tr><td>Status</td><td>' + paymentData.status + '</td></tr>';
    //       html += '<tr><td>Last Status Update</td><td>' + paymentData.last_status_update + '</td></tr>';
    //       html += '<tr><td>Recipient ID</td><td>' + paymentData.recipient_id + '</td></tr>';
    //       $(this).html(html).slideDown();
    //     });
    //   });
    // });

  })(jQuery);

function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}

function displayError(element, error) {
  var html = `
    <div class="alert alert-danger">
      <p><strong>Error Code:</strong> ${error.error_code}</p>
      <p><strong>Error Type:</strong> ${error.error_type}</p>
      <p><strong>Error Message:</strong> ${error.display_message == null ? error.error_message : error.display_message}</p>
      <div>Check out our <a href="https://plaid.com/docs/#errors-overview">errors documentation</a> for more information.</div>
    </div>`;
  $(element).html(html).slideDown();
}
  </script>
