<div class="dashboard-container">
  <div class="total-and-add">
    <div class="dashboard-total">
      <%= "Total: $10" %>
    </div>
    <button class="btn btn-success btn-dashboard">Add a subscription <strong>+</strong></button>
  </div>

  <% @subscription.each do |subscription| %>
    <div class="subscription-card">

      <div class="subscription-card-header">
        <div class="company-logo">
        </div>
        <div class="subscription-title">
          <p><%= subscription.title %></p>
        </div>
        <p><%= subscription.renewal_date %></p>
        <p>$<%= subscription.price %></p>
      </div>

      <div class="subscription-card-footer">
        <div class="subscription-card-description">
          <p><%= subscription.company.description %></p>
        </div>
        <div>
        <%= link_to root_path do %>
          <button class="btn btn-primary sub-manage">MANAGE</button>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
