<h1><%= @access_token %></h1>

<h1>Your Subscriptions</h1>

<div class="dashboard-container">
  <div class="total-and-add">
    <div class="dashboard-total">

      <% subscriptions = Subscription.all %>
      <% price_array = subscriptions.map do |s| %>
        <% s.price %>
      <% end %>
      <% total = price_array.sum %>

      <%= "Next Month Bill: $#{total.round(2)}" %>

    </div>

  <!-- Large modal -->
    <div class="cards-container">
      <button type="button" class="btn" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i></button>

      <div class="modal fade" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="d-flex justify-content-center">
                <h2>Add Subscription</h2>
              </div>
              <div class="d-flex justify-content-right">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="subscription-container">
                <%= simple_form_for Subscription.new do |f| %>
                  <%= f.input :title %>
                  <%= f.input :price %>
                  <%= f.input :creation_date %>
                  <%= f.input :renewal_date %>
                  <%= f.button :submit, class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% @subscriptions.each do |subscription| %>
    <div class="subscription-card">

      <div class="subscription-card-header">
        <div class="company-logo">
          <img src="https://logo.clearbit.com/<%= subscription.title.split(' ').first.downcase %>.com">
        </div>
        <div class="subscription-title">
          <p><%= subscription.title %></p>
        </div>
        <div class="total-money-spent">
            <% date1 = subscription.creation_date %>
            <% date2 = Date.today %>
            <% months = (date2.year * 12 + date2.month) - (date1.year * 12 + date1.month) %>
           <p>Total Spent: £ <%= all_time_total = months * subscription.price %> </p>
        </div>
        <div class="total-time-subscribed">
            <% date1 = subscription.creation_date %>
            <% date2 = Date.today %>
            <% months = (date2.year * 12 + date2.month) - (date1.year * 12 + date1.month) %>
            <p> Time:<%= months / 12 %> Years <%= months % 12 %> Months </p>
        </div>
        <p>Price: £<%= subscription.price %></p>
        <p>Renewal: <%= subscription.renewal_date %></p>
      </div>
      <div class='subscription-card-body'>
      </div>
      <div class="subscription-card-footer">
        <%= link_to subscription_path(subscription) do %>
          <button>manage</button>
        <% end %>
      </div>
    </div>
  <% end %>

  <div style="height: 400px; width: 70%">
    <canvas id="myChart"></canvas>
  </div>
    <script>
    </script>
</div>


