<div class="subscription-card">

  <div class="subscription-card-header">
    <div class="company-logo">
      <img src="https://logo.clearbit.com/<%= @subscription.title.split(' ').first %>.com">
    </div>
    <div class="subscription-title">
      <p><%= @subscription.title %></p>
    </div>
    <p><%= @subscription.renewal_date %></p>
    <p>$<%= @subscription.price %></p>
  </div>
  <div class='subscription-card-body'>
  </div>
  <div class="subscription-card-footer">
    <%= link_to "https://accounts.spotify.com/en/login/?_locale=en-GB&continue=https:%2F%2Fwww.spotify.com%2Fuk%2Faccount%2Foverview%2F%3F_ga%3D2.20821233.859511256.1583325910-2004956868.1579960316", target: "_blank" do %>
      <button type="button" class="btn" data-toggle="modal" data-target="#cancelModal">cancel</button>
    <% end %>
  </div>
</div>

<div class="modal fade" id='cancelModal' role="dialog" aria-labelledby="myLargeModalLabel">

        <div class="modal-dialog modal-lg" role="document">

          <div class="modal-content">
            <div class="modal-header">
              <h2>Did you manage to cancel your <%= @subscription.title %> subscription</h2>
            </div>
            <div class="modal-body">
              <%= link_to subscriptions_path do %>
                <button>no</button>
              <% end %>
              <%= link_to subscription_path(@subscription), method: :delete do %>
                <button>yes</button>
              <% end %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
