<!-- app/views/offers/show.html.erb -->
<%# content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<!---------- Nav-Bar ---------->

<div class="navbar subscriptions-individual-navbar">
  <%= link_to :root, class: 'navbar-brand' do %>
    <%= image_tag "dark-logo.png", class: "subscriptions-overview-subscripto-logo" %>
  <% end %>
    <ul class='subscriptions-individual-underline-menu'>
      <li class='nav-item subscriptions-individual-nav-item'>
        <%= link_to 'Help', root_path, class: 'nav-link subscriptions-individual-nav-link'%>
      </li>
      <li class='nav-item subscriptions-individual-nav-item'>
        <%= link_to 'Scan My Account', transactions_path, class: 'nav-link subscriptions-individual-nav-link'%>
      </li>
      <% if current_user.nil? %>
        <li class='nav-item subscriptions-individual-nav-item'>
          <%= link_to 'Sign up', '/users/sign_up', class: 'nav-link subscriptions-individual-nav-link' %>
        </li>
        <li class='nav-item subscriptions-individual-nav-item'>
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link subscriptions-individual-nav-link' %>
        </li>
      <% else %>
        <li class='nav-item subscriptions-individual-nav-item'>
          <%= link_to 'My Subscriptions', subscriptions_path, class: 'nav-link subscriptions-individual-nav-link' %>
        </li>
        <li class='nav-item subscriptions-individual-nav-item'>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link subscriptions-individual-nav-link' %>
        </li>
      <% end %>
    </ul>
</div>

<!---------- Banner Image ---------->

<div class="banner-image" style="">

  <div class="whole-show-background">

    <div class="show-card">
      <div class="show-card-header">
        <div class="show-card-title">
          <h2><%= @subscription.title %></h2>
        </div>
        <p>Renewal Date: <%= @subscription.renewal_date %></p>
      </div>
      <div class='show-card-body'>
    <img src="https://logo.clearbit.com/<%= @subscription.title.split(' ').first %>.com" class="show-title-logo">
        <div class="show-card-body-text">
          <p>Price Per Month: £<%= @subscription.price %></p>
          <p>Creation Date: <%= @subscription.creation_date %></p>
          <p>Time Subscribed: </p>
          <p>Total Spent: </p>
        </div>
      </div>
      <div class="show-card-footer">
        <%= link_to subscriptions_path do %>
          <button class="btn btn-outline-secondary back-button" style="border-radius: 7px">Back</button>
        <% end %>
        <div class="cancel-button-container">
        <%= link_to "https://#{@subscription.title.split(' ').first}.com", target: "_blank" do %>
          <button type="button" class="cancel-button" data-toggle="modal" data-target="#cancelModal">Cancel Subscription</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Large Cancel Modal -->

<div class="modal fade" id='cancelModal' role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-question">Did You Manage to Cancel Your <%= @subscription.title %> Subscription?</h2>
      </div>
      <div class="modal-body">
        <%= link_to subscription_path(@subscription) do %>
          <button class="btn btn-outline-primary modal-btns">No</button>
        <% end %>
        <%= link_to subscription_path(@subscription), method: :delete do %>
          <button class="btn btn-outline-primary modal-btns">Yes</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Large Cancel Modal -->


