<!-- app/views/offers/show.html.erb -->
<%# content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

  <div class="home-navbar" id="navbar">
    <%= link_to :root, class: 'navbar-brand' do %>
      <%= image_tag("logo-resize-2") %>
    <% end %>
      <ul class='underline-menu'>
        <li class='nav-item'>
          <%= link_to 'Help', root_path, class: 'nav-link'%>
        </li>
        <li class='nav-item'>
          <%= link_to 'Scan My Account', transactions_path, class: 'nav-link'%>
        </li>
        <% if current_user.nil? %>
          <li class='nav-item'>
            <%= link_to 'Sign up', '/users/sign_up', class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'My Subscriptions', subscriptions_path, class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
  </div>

<div class="whole-show-background">

  <div class="show-card">
    <div class="show-card-header">
      <div>
        <h2><%= @subscription.title %></h2>
      </div>
      <p>Renewal Date: <%= @subscription.renewal_date %></p>
      <p>Creation Date: <%= @subscription.creation_date %></p>
    </div>
    <div class='show-card-body'>
      <div class="show-company-logo">
        <img src="https://logo.clearbit.com/<%= @subscription.title.split(' ').first %>.com">
      </div>
      <div class="show-card-body-text">
        <p>Price Per Month: £<%= @subscription.price %></p>
      </div>
    </div>
    <div class="show-card-footer">
      <%= link_to "https://#{@subscription.title.split(' ').first}.com", target: "_blank" do %>
        <button type="button" class="btn" data-toggle="modal" data-target="#cancelModal">Cancel</button>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id='cancelModal' role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog modal-lg" role="document">

      <div class="modal-content">
        <div class="modal-header">
          <h2>Did you manage to cancel your <%= @subscription.title %> subscription</h2>
        </div>
        <div class="modal-body">
          <%= link_to subscriptions_path do %>
            <button>no</button>
          <% end %>
          <%= link_to subscription_path(@subscription), method: :delete do %>
            <button>yes</button>
          <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

