<!---------- Nav-Bar ---------->

<div class="navbar transactions-navbar">
  <%= link_to :root, class: 'navbar-brand' do %>
    <%= image_tag "logo-resize-2.png", class: "transactions-subscripto-logo" %>
  <% end %>
    <ul class='transactions-underline-menu'>
      <li class='nav-item transactions-nav-item'>
        <%= link_to 'Help', root_path, class: 'nav-link transactions-nav-link'%>
      </li>
      <li class='nav-item transactions-nav-item'>
        <%= link_to 'Scan My Account', "#", class: 'nav-link transactions-nav-link'%>
      </li>
      <% if current_user.nil? %>
        <li class='nav-item transactions-nav-item'>
          <%= link_to 'Sign up', '/users/sign_up', class: 'nav-link transactions-nav-link' %>
        </li>
        <li class='nav-item transactions-nav-item'>
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link transactions-nav-link' %>
        </li>
      <% else %>
        <li class='nav-item transactions-nav-item'>
          <%= link_to 'My Subscriptions', subscriptions_path, class: 'nav-link transactions-nav-link' %>
        </li>
        <li class='nav-item transactions-nav-item'>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link transactions-nav-link' %>
        </li>
      <% end %>
    </ul>
</div>

<!---------- Beginning of actual API ---------->

<main class="main">
    <div class="grid transactions-box">
      <div class="grid__column grid__column--is-twelve-columns transactions-box-inside">
        <table id="transactions-table">
          <tbody id="get-transactions-data">
            <tr>
              <td><i class="fas fa-flag red-flag"></i>Netflix.com</td>
              <td>$ 8.99</td>
              <td>2020-03-13</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>UBER</td>
              <td>$ 29.48</td>
              <td>2020-03-12</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag red-flag"></i>Spotify Finance Limited</td>
              <td>$ 9.99</td>
              <td>2020-03-09</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>United Airlines</td>
              <td>$ 189.00</td>
              <td>2020-03-07</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Vito's Pizza</td>
              <td>$ 14.52</td>
              <td>2020-03-04</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Deliveroo</td>
              <td>$ 16.84</td>
              <td>2020-03-01</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Silver Lake Yoga</td>
              <td>$ 25.00</td>
              <td>2020-02-27</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Liquid Juice Bar</td>
              <td>$ 7.54</td>
              <td>2020-02-24</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Amazon.com</td>
              <td>$ 71.60</td>
              <td>2020-02-22</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag red-flag"></i>YouTube Premium</td>
              <td>$  11.99</td>
              <td>2020-02-21</td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>LA Boulders</td>
              <td>$ </td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag red-flag"></i>Apple Music</td>
              <td>$ </td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Pink's Hot Dogs</td>
              <td>$ </td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>UBER</td>
              <td>$ </td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag red-flag"></i>Netflix.com</td>
              <td>$ 8.99</td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>Yeastie Boys Bagels</td>
              <td>$ </td>
              <td></td>
            </tr>

            <tr>
              <td><i class="fas fa-flag transparent-flag"></i>American Airlines</td>
              <td>$ 213</td>
              <td></td>
            </tr>

          </tbody>
        </table>
        <%= link_to "Import Subscriptions", subscriptions_path, class: 'back-to-homepage-button'%>
        </div>
      </div>
    </div>
  </main>




                <!-- <script type="text/javascript">

               (() => {var html = '<tr><td><strong>NAME</strong></td><td><strong>AMOUNT</strong></td><td><strong>DATE</strong></td></tr>';
                [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16].forEach(function(txn, idx) {

              if (idx === 0 ) {
                html = '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Netflix.com' + '</td>';
                html += '<td>$' + '8.99' + '</td>';
                html += '<td>' + '2020-03-13' + '</td>';
                html += '</tr>';
              }else if (idx === 1 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'UBER' + '</td>';
                html += '<td>$' + '29.48' + '</td>';
                html += '<td>' + '2020-03-12' + '</td>';
                html += '</tr>';
              }else if (idx === 2 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Spotify Finance Limited' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-03-09' + '</td>';
                html += '</tr>';
              }else if (idx === 3 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'United Airlines' + '</td>';
                html += '<td>$' + '189.00' + '</td>';
                html += '<td>' + '2020-03-07' + '</td>';
                html += '</tr>';
              }else if (idx === 4 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + "Vito's Pizza" + '</td>';
                html += '<td>$' + '14.52' + '</td>';
                html += '<td>' + '2020-03-04' + '</td>';
                html += '</tr>';
              }else if (idx === 5 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Deliveroo' + '</td>';
                html += '<td>$' + '16.84' + '</td>';
                html += '<td>' + '2020-03-01' + '</td>';
                html += '</tr>';
              }else if (idx === 6 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Silver Lake Yoga' + '</td>';
                html += '<td>$' + '25.00' + '</td>';
                html += '<td>' + '2020-02-27' + '</td>';
                html += '</tr>';
              }else if (idx === 7 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Liquid Juice Bar' + '</td>';
                html += '<td>$' + '7.54' + '</td>';
                html += '<td>' + '2020-02-24' + '</td>';
                html += '</tr>';
              }else if (idx === 8 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'AMAZON.COM AMZN.COM/BILL' + '</td>';
                html += '<td>$' + '71.60' + '</td>';
                html += '<td>' + '2020-02-22' + '</td>';
                html += '</tr>';
              }else if (idx === 9 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' +'Amazon Prime' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-02-21' + '</td>';
                html += '</tr>';
              }else if (idx === 10 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'UBER' + '</td>';
                html += '<td>$' + '26.44' + '</td>';
                html += '<td>' + '2020-02-18' + '</td>';
                html += '</tr>';
              }else if (idx === 11 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'LA Boulders' + '</td>';
                html += '<td>$' + '64.50' + '</td>';
                html += '<td>' + '2020-02-18' + '</td>';
                html += '</tr>';
              }else if (idx === 12 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Apple Music' + '</td>';
                html += '<td>$' + '9.99' + '</td>';
                html += '<td>' + '2020-02-16' + '</td>';
                html += '</tr>';
              }else if (idx === 13 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + "Pink's Hot Dogs" + '</td>';
                html += '<td>$' + '8.63' + '</td>';
                html += '<td>' + '2020-02-15' + '</td>';
                html += '</tr>';
              }else if (idx === 14 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag red-flag"></i>' + 'Netflix.com' + '</td>';
                html += '<td>$' + '8.99' + '</td>';
                html += '<td>' + '2020-02-13' + '</td>';
                html += '</tr>';
              }else if (idx === 15 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'Yeastie Boys Bagels' + '</td>';
                html += '<td>$' + '7.33' + '</td>';
                html += '<td>' + '2020-02-11' + '</td>';
                html += '</tr>';
              }else if (idx === 16 ) {
                html += '<tr>';
                html += '<td>' + '<i class="fas fa-flag transparent-flag"></i>' + 'American Airlines' + '</td>';
                html += '<td>$' + '213.00' + '</td>';
                html += '<td>' + '2020-02-09' + '</td>';
                html += '</tr>';
              }else {
                html += '<tr>';
                html += '<td>' + txn.name + '</td>';
                html += '<td>$' + txn.amount + '</td>';
                html += '<td>' + txn.date + '</td>';
                html += '</tr>';
              }
            })
          })()
            </script> -->

            <!-- <div class="item-overview__column">
              <h3 class="item-overview__heading">Your item_id</h3>
              <p class="item-overview__id" id="item_id">san.asjsansakjsakjasjksajkas</p>
            </div>
            <div class="item-overview__column">
              <h3 class="item-overview__heading">access_token</h3>
              <p class="item-overview__id" id="access_token">••••••••hsakjsl</p>
            </div> -->
            <!-- This functionality is only relevant for the UK Payment Initiation product. -->
<!--             <div class="payment_initiation item-overview__column" style='display:none;'>
              <h3 class="item-overview__heading">payment_token</h3>
              <p class="item-overview__id" id="payment_token">••••••••hsakjsl</p>
            </div> -->

<!--
            <div style="clear: both"></div>
          </div> -->

  <!--         <p>Now that you have an access_token you can make all of the following API requests:</p> -->



            <!-- Auth -->
            <!-- <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Auth</div>
                <div class="item-data-row__endpoint">/auth/get</div>
                <div class="item-data-row__description">Retrieve account and routing numbers for checking and savings accounts.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-auth-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-auth-data"></tbody></table>
              </div>
            </div> -->


            <!-- Identity -->
            <!-- <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Identity</div>
                <div class="item-data-row__endpoint">/identity/get</div>
                <div class="item-data-row__description">Retrieve Identity information on file with the bank. Reduce fraud by comparing user-submitted data to validate identity.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-identity-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-identity-data"></tbody></table>
              </div>
            </div> -->

            <!-- Balance -->
            <!-- <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Balance</div>
                <div class="item-data-row__endpoint">/accounts/balance/get</div>
                <div class="item-data-row__description">Check balances in real time to prevent non-sufficient funds fees.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-balance-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-balance-data"></tbody></table>
              </div>
            </div> -->

            <!-- Holdings -->
<!--             <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Holdings</div>
                <div class="item-data-row__endpoint">/investments/holdings/get</div>
                <div class="item-data-row__description">Retrieve investment holdings on file with the bank, brokerage, or investment institution. Analyze over-exposure to market segments.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-holdings-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-holdings-data"></tbody></table>
              </div>
            </div> -->

            <!-- Investment Transactions -->
            <!-- <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Investment Transactions</div>
                <div class="item-data-row__endpoint">/investments/transactions/get</div>
                <div class="item-data-row__description">Retrieve investment transactions to analyze cash flow and trading performance.</div>
              </div>
              <div class="item-data-row__right">
                <button id="get-investment-transactions-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>
              <div class="item-data-row__response">
                <table><tbody id="get-investment-transactions-data"></tbody></table>
              </div>
            </div> -->

            <!-- Assets (hidden unless 'assets' is included in the product list) -->
            <!-- <div id='assets' class="item-data-row" style='display:none;'>
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Assets</div>
                <div class="item-data-row__endpoint">/asset_report/*</div>
                <div class="item-data-row__description">Create a point-in-time snapshot of a users assets.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-assets-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>

                <a id="download-assets-pdf-btn" class="button button--is-small button--is-primary button--is-full-width" style="display: none; margin: 10px 0px;";>Download as PDF</a>
              </div>

              <div class="item-data-row__response">
                <table><tbody id="get-assets-data"></tbody></table>
              </div>
            </div> -->

            <!-- UK Payment Initiation (hidden unless 'payment_initiation' is included in the product list) -->
            <!-- <div class="payment_initiation item-data-row" style='display:none;'>
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__nicename">Payment Initiation</div>
                <div class="item-data-row__endpoint">/payment_initiation/payment/get</div>
                <div class="item-data-row__description">Retrieve payment initiation status for the payment you just initiated.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-payment-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>

              <div class="item-data-row__response">
                <table><tbody id="get-payment-data"></tbody></table>
              </div>
            </div> -->

          <!-- </div> -->
          <!-- <div class="box">
            <h3 class="box__heading">Item management</h3>

            <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__endpoint">/item/get</div>
                <div class="item-data-row__description">Retrieve information about an Item, like the institution, billed products, available products, and webhook information.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-item-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div>

              <div class="item-data-row__response">
                <table><tbody id="get-item-data"></tbody></table>
              </div>
            </div> -->

            <!-- <div class="item-data-row">
              <div class="item-data-row__left">
                <div class="item-data-row__request-type">post</div>
              </div>
              <div class="item-data-row__center">
                <div class="item-data-row__endpoint">/accounts/get</div>
                <div class="item-data-row__description">Retrieve high-level information about all accounts associated with an Item.</div>
              </div>

              <div class="item-data-row__right">
                <button id="get-accounts-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
              </div> -->

